@import url(../../index.css);

.cabecalho .container {
    background-color: var(--azul-main);
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2em 1.5em;
}

.menu-list {
    position: absolute;
    top: 7em;
    right: 0;
    list-style-type: none;
    width: 193px;
    height: 243px;
}

.escondido {
    display: none;
}