@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@300;400;500;700;800&display=swap');

:root {
  --azul-main: #2E7BA2;
  --fonte-main: 'Raleway', sans-serif;
  --fonte-title: 'Calistoga', cursive;
  --amarelo: #FACF9D;
  --azul-claro: #C8DEEF;
  --cinza: #444444;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient( var(--azul-claro),var(--amarelo));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}